.SideNav {
    padding: 4vh 1vw 4vh 1vw;
    background-color: #27486E;
    position: sticky;
    top: 0;
    right: 0;
    transition: all 0.3s ease-out;
}

.SideNavClose {
    width: 4vw;
}

.SideNavOpen {
    width: 28vw;
}

.topbutton {
    background-color: transparent;
    border: none;
    color: #5DA1F3;
    margin-bottom: 4vh;
}

.adminheading {
    margin-left: 0.5vw;
    font-size: 2.4vh;
}

.blueheading {
    font-size: 2.4vh;
    padding-left: 1.5vw;
}

.profilediv {
    padding-left: 1.5vw;
    color: white;
    align-items: center;
}

.profileText {
    margin-left: 0.5vw;
}

/* media queries */
@media only screen and (max-width: 991px) {
    .SideNavOpen {
        width: 60px;
    }

    .SideNavClose {
        width: 60px;
    }

    .adminheading {
        display: none;
    }

    .topbutton {
        display: none;
    }

    .profileText {
        display: none;
    }
}
