.card {
    background-color: #F2F5F6;
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 24px;
    border-radius: 10px;
}

.subHeadingCont {
    margin-bottom: 1vh;
    color: #88909A;
}

.subheading {
    font-size: 1.2rem;
}

.blueHeading {
    color: #3B83F7;
    margin-bottom: 1.5vh;
}

.greenButton {
    background-color: #23C55F;
    color: white;
    margin-bottom: 1.5vh;
    padding: 1vh 0;
    border: none;
    border-radius: 4px;
}

.greenButton:hover {
    background-color: #1bb754;
}

.purpleButton {
    color: rgb(138, 92, 247);
    background-color: #F2F5F6;
    border: 1px solid rgb(138, 92, 247);
    margin-bottom: 1.5vh;
    padding: 1vh 0;
    border-radius: 4px;
}

.purpleButton:hover {
    color: rgb(91, 20, 255);
    border: 1px solid rgb(91, 20, 255);
}

.greyButton {
    background-color: #E5E6EA;
    color: #88909A;
    margin-bottom: 1vh;
    padding: 1vh 0;
    border: none;
    border-radius: 4px;
    width: 90%;
}

.greyButton:hover {
    background-color: #E5E6EA;
    color: #6c6f71;
}

.green {
    color: #23C55F;
    margin-left: 2vh;
}

@media only screen and (max-width: 991px) {
    .card {
        width: 240px;
    }

    .blueHeading {
        font-size: 28px;
        line-height: 32px;
    }

    .subheading{
        font-size: 1rem;
    }

    .KnowMoreParah{
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .card {
        width: 200px;
    }
}