@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
}

.flexrow {
  display: flex;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.spacebetween {
  justify-content: space-between;
}

.bold {
  font-weight: 800;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C2BCC9;
  font-style: italic;
  font-weight: 600;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #C2BCC9;
  font-style: italic;
  font-weight: 600;

}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #C2BCC9;
  font-style: italic;
  font-weight: 600;
}